body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
    /* flex-контейнер для <header>, <main> и <footer> */
    display: flex;
    /* flex-элементы <header>, <main> и <footer> выстаиваются по вертикали */
    flex-direction: column;
    /* вся высота viewport браузера */
    min-height: 100vh;
}
.nav-wrapper {
  padding: 0 1rem;
}
.content {
  /* min-height: 100vh;
  padding: 0.5rem; */
  padding-top: 20px;
    /*
    может как увеличиваться, так и уменьшаться, чтобы вместе с
    <header> и <footer> занять всю высоту viewport браузера
    */
    flex: 1 1 auto;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}
 .btn-pos {
   position: absolute;
   top: 0;
   right: 0.5rem;
 }
 .radio {
  padding: 0 100px 0 0;
 }
 label:not(:last-child) {
   margin-right: 1rem;
 }